* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  text-align: center;
  padding: 16px;
}

.content {
  display: flex;
  justify-content: center;
}

.grid-container {
  width: 720px;
  height: 720px;
  border: 1px solid grey;
}