@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #A682FF;
}

.content {
  display: flex;
  justify-content: center;
  background-color: #A682FF;
  text-align: right;
  flex: 1 1 auto;
}

.grid-container {
  display: flex;
  flex-direction: column;
  width: 690px;
  height: 690px;
  flex: 0 0 auto;
  /* border: 4px solid #715AFF; */
}

.grid-line {
  display: flex;
  flex: 1;
}

.grid-cell {
  flex: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 230px;
  margin: 0 50px;
  gap: 20px;
}

.btn {
  box-sizing: border-box;
  width: 107px;
  padding: 12px;
  background-color: #715AFF;
  color: #ffffff;
  border: 4px solid #5887FF;
  cursor: pointer;
}

.btn:hover {
  background-color: #A682FF;
}

.slider-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #715AFF;
}

.slider {
  width: 230px;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 15px;
}

.color-container {
  width: 100%;
  background-color: #5887FF;
}

.fill {
  width: 100%;
}

.color-picker {
  opacity: 0;
  width:  100%;
  height: 47px;
  border: none;
  cursor: pointer;
}